.home-container{
  margin: 3%;
}

.home-panel .panel-heading{
  font-weight: bold;
  width: auto;
}

.home-panel {
  width: 100%;
  min-height: 85px;
  overflow-y: hidden;
  overflow-x: auto;
}

.home-comment-delete {
  color: rgb(139,139,222);
}
.home-comment-delete:hover {
  cursor: pointer;
  color: #FF0000;
}

#leaderboard {
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;

}

#leaderboard .panel-heading {
  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
}

#home-user-name:hover {
  cursor: pointer;
}
