#leaderboard {
  width: 90%;
  height: 80vh;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;

}


#leaderboard .panel-heading {
  font-size: 1.2em;
  letter-spacing: 3px;
  font-weight: bold;
}
