form {
  margin-bottom: 30px;
}


.form-box {
  margin: 0 auto;
  max-width: 60vw;
  text-align: center;
  border: 2px solid #bbc;
  border-radius: 8px;
}

.form-body {
  padding: 10px 25px 10px 25px;
}

.form-head {
  font-weight: bolder;
  font-size: 2em;
  padding: 10px;
  letter-spacing: normal;
  margin-bottom: 15px;
  background-color: #dff0d8;
  border: 2px solid #d6e9c6;
  color: #555;
  border-radius: 8px 8px 0 0;
}

#login-form {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 80%;
}

#site-desc {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5em;
  color: #335;
  margin-bottom: 10px;
  font-family: 'CalculusSans';
}

.carousel-div {
  margin: 0 auto;
  width: 80%;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #DDD;
  text-align: center;
}
