form {
  margin-bottom: 30px;
}

#new-user-form {
  max-width: 85%;
}

.form-box {
  margin: 0 auto;
  max-width: 60vw;
  text-align: center;
  border: 2px solid #bbc;
  border-radius: 8px;
}

@media (max-width: 1199px) {
  .form-box{
    max-width: 85vw;
  }
}

.form-body {
  padding: 10px 25px 10px 25px;
}

.form-head {
  font-weight: bolder;
  font-size: 1.5em;
  padding: 10px;
  letter-spacing: normal;
  margin-bottom: 5px;
  background-color: #dff0d8;
  border: 2px solid #d6e9c6;
  color: #555;
  border-radius: 8px 8px 0 0;
}

#login-form {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 90%;
}

#site-desc {
  text-align: center;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  font-size: 1.5em;
  color: #335;
  margin-bottom: 10px;
  font-family: 'CalculusSans';
}

.carousel-div {
  margin: 0 auto;
  width: 90%;
  border-radius: 10px;
  overflow: hidden;
  background-color: rgba(255,255,255,.8);
  border: 1px solid #CCC;
  text-align: center;
}

.fade-in {
  display: none;
}
