@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);/*!

/* Makisupa font downloaded from dafont.com */
@font-face {
    font-family: 'Makisupa';
    src: url("/fonts/MAKISUPA.TTF");
}


body {
  background-image: url("/images/bg10.png");
  background-repeat: repeat;
  background-size: auto;
  margin: 0 auto;
  padding: 0;
}

img {
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}

th, tr, td{
  text-align: center;
}



.feedback-box{
  margin-top: 15px;
  padding: 10px;
  text-align: center;
  font-size: 1.2em;
}

.navbar-brand {
  padding: 5px;
  margin-right: 10px;
}

.header {
  font-family: Raleway, 'Open Sans';
  margin-bottom: 20px;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 5px;
  background-color: #558;
  color: #f7f7f7;
}
.sub-header {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size:18px;
}
#sub-head-alert{
  margin: 0;
  padding: 0;
  border-radius: 0;
}
/*Hover/mouse leave box shadow changes*/
.shadow-transition {
  transition: box-shadow 1s ease;
  background-color: rgba(240,240,240,.9);
  box-shadow: none;
}
.shadow-transition:hover {
  transition: box-shadow .3s ease;
  box-shadow: 0 5px 10px 3px rgba(100,100,100,.7);
}
.shadowbox {
  -webkit-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
  box-shadow: -1px 4px 16px 0px rgba(0,0,0,0.75);
}
.light-shadowbox {
  -webkit-box-shadow: 2px 3px 25px -3px rgba(0,0,0,0.65);
  -moz-box-shadow: 2px 3px 25px -3px rgba(0,0,0,0.65);
  box-shadow: 2px 3px 25px -3px rgba(0,0,0,0.65);
}

.back-panel {
  margin: 0 auto;
  margin-top: 55px;
  padding: 20px 0 50px 0;
  background-color: rgb(250,251,252);
  width: 97vw;
  height: 100%;
  overflow: hidden;
  border-radius: 3px;
  border: 1px solid #bbc;
  box-shadow: 3px 5px 20px 3px rgba(50,50,50,.7);
}

.panel-heading {
  font-weight: bold;
}
